.topnav 
{
  overflow: hidden;
  background-color: darkgreen;
  width:100%;
  height:7%;
  text-align:center;
}

.topnav a 
{
  float: left;
  display: block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover 
{
  background-color: black;
  color: green;
  text-decoration: underline;
}
